
/* GENERAL RULES */

*:not(title)
{
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url("../images/retina_wood_2x.png");
}
h1,h2
{
	text-align: center;
	font-family: serif;
	font-style: italic;
	padding-left: 10%;
	padding-right: 10%;
}
h1
{
	font-size: 48px;
}
h2
{
	font-size: 12pt;
}
img
{
	border-radius: 100%;
	box-shadow: 0px 0px 10px 3px black;
}
a
{
	color: black;
	text-decoration: none;
}
ul
{
	list-style-type: none;
	display: inline-block;
	float: left;
}
li
{
	display: inline-block;
	float: left;
}

/* CLASS SPECIFIC RULES */

div.headline_01
{
	width: 100%;
	margin-top: 40px;
}
div.buttonBar
{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}
div.buttonBar ul
{
	padding-left: 25%;
	padding-right: 25%;
}
div.buttonBar li
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}
div.buttonBar a
{
	text-align: center;
	font-family: serif;
	font-size: 24px;
	font-style: italic;
}
div.buttonBar a:hover
{
	color: gray;
}
div.navBar
{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 40px;
	background-color: rgba(139,69,19,0.3);
}
div.navBar ul
{
	height: 100%;
}
div.navBar ul li
{
	height: 100%;
}
div.navBar h2
{
	text-align: left;
	padding: 0px;
	padding-top: 8px;
}
div.navBar a
{
	display: inline-block;
	text-align: center;
	font-family: serif;
	font-style: italic;
	height: 41px;
	padding-top: 19px;
	padding-left: 10px;
	padding-right: 10px;
}
div.navBar img
{
	width: 50px;
}
ul.logo li
{
	height: 100%;
}
ul.menu
{
	height: 100%;
	padding-left: 50px;

}
ul.menu li
{
	height: 100%;
/*	border-left-style: none;
	border-right-style: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: black;/*
/*	box-shadow: 0px 0px 5px 1px black;*/
/*	background-color: rgba(139,69,19,0.3);*/
}
ul.menu li.endButton
{
/*	border-style: solid;
	border-width: 1px;
	border-color: black;*/
}
ul.menu li:hover
{
	background-color: rgba(12,69,19,0.3);
}
div.subtitle
{
	margin-top: 80px;
}

/* ID SPECIFIC RULES */

div#profPic
{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
div#profPic img
{
	width: 25%;
	min-width: 200px;
}
ul.logo li#logoPic
{
	padding-left: 5px;
	padding-top: 5px;
}
ul.logo li#logoText
{
	padding-left: 15px;
}
div.navBar ul#navRootUL
{
	min-width: 520px;
}