
/* GENERAL RULES */

*:not(title)
{
	margin: 0px;
	padding: 0px;
}
body
{
	background-image: url("../images/retina_wood_2x.png");
	margin-top: 80px;
	margin-bottom: 80px;
}
h1,h2,h3,h4,h5
{
	text-align: center;
	font-family: serif;
	font-style: italic;
}
h1
{
	font-size: 36pt;
}
h2
{
	font-size: 12pt;
}
h3
{
	font-size: 24pt;
}
h4
{
	font-size: 16pt;
}
h5
{
	font-size: 12pt;
}
p
{
	font-size: 12pt;
	text-align: justify;
	line-height: 1.5;
}
img
{
	border-radius: 100%;
	box-shadow: 0px 0px 10px 3px black;
}
a
{
	color: black;
	text-decoration: none;
}
ul
{
	list-style-type: none;
}
li
{
	float: left;
}
div
{
	width: 100%;
}

/* CLASS SPECIFIC RULES */

div.headline_01
{
	width: 100%;
	margin-top: 40px;
}
div.buttonBar
{
	width: 70%;
	max-width: 650px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
div.buttonBar ul
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-left: 20%;
	padding-right: 20%;
}
div.buttonBar ul li
{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}
div.buttonBar ul li a
{
	text-align: center;
	font-family: serif;
	font-size: 24px;
	font-style: italic;
}
div.buttonBar ul li a:hover
{
	color: gray;
}
div.navBar
{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 40px;
	background-color: rgba(139,69,19,0.3);
}
div.navBar ul
{
	height: 100%;
}
div.navBar ul li
{
	height: 100%;
}
div.navBar h2
{
	text-align: left;
	padding: 0px;
	padding-top: 8px;
}
div.navBar a
{
	display: inline-block;
	text-align: center;
	font-family: serif;
	font-style: italic;
	height: 41px;
	padding-top: 19px;
	padding-left: 10px;
	padding-right: 10px;
}
div.navBar img
{
	width: 50px;
}
ul.logo li
{
	height: 100%;
}
ul.menu
{
	height: 100%;
	padding-left: 50px;

}
ul.menu li
{
	height: 100%;
}
ul.menu li:hover
{
	background-color: rgba(139,69,19,0.4);
}
div.title
{
	width: 100%;
}
div.title h3
{
	text-align: left;
	padding-left: 25px;
}
div.subtitle
{
	width: 100%;
	margin-top: 20px;
}
div.subtitle h4
{
	text-align: left;
	padding-left: 50px;
	font-style: normal;
}
div.content
{
	margin-top: 15px;
}
div.content > *
{
	padding-left: 50px;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 800px;
	text-align: left;
}
div.content h5
{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
div.content ul
{
	list-style-type: disc;
	list-style-position: outside;
}
div.content ul.lev01
{
	padding-left: 65px;
}
div.content ul.lev02
{
	padding-left: 115px;
}
div.content ul li
{
	float: none;
}

/* ID SPECIFIC RULES */

div#profPic
{
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
div#profPic img
{
	width: 25%;
	min-width: 200px;
	max-width: 300px;
}
ul.logo li#logoPic
{
	padding-left: 5px;
	padding-top: 5px;
}
ul.logo li#logoText
{
	padding-left: 15px;
}
div.navBar ul#navRootUL
{
	min-width: 520px;
}